* {
  box-sizing: border-box;
}

html, body, #root, #home {
  height: 100vh;
}

#home {
  display: flex;
  flex-direction: column;
}

#header {
  box-sizing: border-box;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

/* #home > div:nth-of-type(1) {
  box-sizing: border-box;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
} */

#header > span {
  font-size: 25px;
}

#header > button {
  outline: none;
  background-color: #95de64;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#header > button:hover {
  background-color: #b7eb8f;
}

#header > button:active {
  background-color: #95de64;
}

#appBody {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  height: 350px;
}

#input {
  width: 50%;
  padding: 10px;
}

#input > textarea {
  font-family: Consolas, 'Courier New',
  monospace;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
  padding: 20px;
}

#output {
  width: 100%;
  overflow: scroll;
}

.resume {
  margin: auto;
}
